{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    {% load catalog_tags %}
    <link rel="stylesheet" type="text/css" href="#">
    <div class="w-section section" id="page-nav-p1">
        <div class="w-container page1">
            <div class="w-row page">
                <div class="w-col w-col-2 sidebar">
                    <img class="post-icon"
                         src="https://cdn.icon-icons.com/icons2/3857/PNG/512/page_views_view_eye_icon_238248.png"
                         width="47">
                </div>
                <div class="w-col w-col-10 textpage">
                    <div class="w-section media">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="uk-fieldset">
                                <legend class="uk-legend">Добавить пост</legend>
                                {{ form.as_p }}
                                <div class="w-col w-col-4">
                                    <p uk-margin>
                                        <button class="button uk-button-primary">
                                            {% if object %}
                                            Сохранить
                                            {% else %}
                                            Отправить
                                            {% endif %}
                                        </button>
                                    </p>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}