{% extends "catalog/base.html" %}
  {% load catalog_tags %}
{% block content %}

    <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table table-dark table-sm">
                        <tr>
                            <td>Название продукта</td>
                            <td>{{ object.name }} </td>
                        </tr>
                        <tr>
                            <td>Описание продукта</td>
                            <td>{{ object.description }}</td>
                        </tr>
                        <tr>
                            <td>Категория</td>
                            <td>{{ object.category }}</td>
                        </tr>
                        <tr>
                            <td>Цена продукта:</td>
                            <td>{{ object.price }}</td>
                        </tr>
                        <tr>
                            <td>Дата добавления:</td>
                            <td>{{ object.creation_date}}</td>
                        </tr>
                        <tr>
                            <td>Дата обновления:</td>
                                <td>{{ object.date_of_change  }}</td>
                        </tr>
                        <tr>
                            <td>Изображение:</td>
                                <td><img src='{% mediapath object.preview %}' width="155" height="120"/></td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
{% endblock %}