{% extends "catalog/base.html" %}
{% load catalog_tags %}
{% block content %}


    <div class="container">
        <header>
            <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
                <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
                <a class="btn btn-success" href="{% url 'catalog:add_product' %}">Создать товар</a>
                <a class="btn btn-primary" href="{% url 'catalog:add_version' %}">Изменить версию</a>
            </div>
        </header>

            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">

                    {% for item in cards %}
                        <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">

                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal">{{ item.name|upper}}</h4>
                        </div>



                        <div class="card-body">
                            <h2 class="card-title pricing-card-title">{{ item.price }} ₽</h2>

                            <p>
                                Описание:{{ item.description|slice:":100"}}
                            <img src="{% mediapath item.preview %}" width="155" height="120"/>
                            </p>
                            <button type="button" class="btn btn-success">Купить</button>
                            <form action="{% id_path item.id%}" target="_blank">
                                <button class="btn">View</button>
                            </form>
                        </div>

                    </div>
                        </div>
                    {% endfor %}





            </div>



            <div class="row text-center">
                <div class="col-12">
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#where" aria-expanded="false" aria-controls="collapseExample">
                              Где купить?
                        </button>
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#how" aria-expanded="false" aria-controls="collapseExample">
                            Как доставить?
                        </button>
                        <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#Guarantee" aria-expanded="false" aria-controls="collapseExample">
                            Какая гарантия?
                        </button>
                    </div>
                    <div class="collapse" id="where">
                        <div class="card card-body">
                          НИГДЕ.
                        </div>
                    </div>
                    <div class="collapse" id="how">
                        <div class="card card-body">
                          НИКАК.
                        </div>
                    </div>
                    <div class="collapse" id="Guarantee">
                        <div class="card card-body">
                          НИКАКОЙ.
                        </div>
                    </div>
                </div>
            </div>


    </div>



{% endblock %}