{% load static %}
    <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Меню</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#home"/>
                    </svg>
                    Главная
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Категории
                </a>
            </li>
            <li>
                <a href="#" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#table"/>
                    </svg>
                    Заказы
                </a>
            </li>
            <li>
                <a href="/contacts/" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#people-circle"/>
                    </svg>
                    Контакты
                </a>
            </li>
            <li>
                <a href="{% url 'catalog:blogs' %}" class="nav-link text-white">
                    <svg class="bi me-2" width="16" height="16">
                        <use xlink:href="#speedometer2"/>
                    </svg>
                    Блог
                </a>
            </li>
        </ul>
        <hr>
        <div class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <ul class="uk-navbar-nav">
                        {% if user.is_authenticated %}
                            {% if user.avatar %}
                                <img class="uk-preserve-width uk-border-circle" src="{{ user.avatar.url }}" width="80"
                                     height="80" alt="Аватарка" loading="lazy">
                            {% endif %}
                            <li class="uk-active"><a href="{% url 'users:profile' %}">Профиль<br>{{ user.email }}</a>
                            </li>
                            <li class="uk-active"><a href="{% url 'users:logout' %}">Выйти</a></li>
                        {% else %}
                            <li class="uk-active"><a href="{% url 'users:register' %}">Регистрация</a></li>
                            <li class="uk-active"><a href="{% url 'users:login' %}">Войти</a></li>
                        {% endif %}
                    </ul>
            </ul>

        </div>
    </div>
<div class="b-example-divider"></div>